<!-- Nav-menu button -->
<md-toolbar layout="row">
    <md-button class="hamburger" ng-click="openLeftMenu()">☰</md-button>
    <h2 class="md-toolbar-tools" flex>KSTool</h2>
</md-toolbar>

<!--     <md-tabs hide-sm>
    <md-tab ng-repeat="tab in navOptions">
    </md-tab>
</md-tabs>
-->
<!-- Slide-out navmenu -->
<md-sidenav md-component-id="left" class="md-sidenav-left" md-swipe-left="closeLeftMenu()">
    <md-toolbar layout>
        <h2 class="md-toolbar-tools">Options</h2>
    </md-toolbar>
    <md-content layout="column">
        <md-button ng-repeat="tab in navOptions" ng-click="tab.action()">
            {{::tab.label}}
        </md-button>
    </md-content>
</md-sidenav>

<div id="content" ui-view></div>
